USE [master]
GO
/****** Object:  Database [bd_editora]    Script Date: 10/22/2014 14:11:37 ******/
CREATE DATABASE [Editora]
GO
USE [Editora]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 10/22/2014 14:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[IDAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](1000) NOT NULL,
	[PaisOrigem] [nvarchar](1000) NOT NULL,
	[PremioNobel] [bit] NOT NULL,
	[ResumoObra] [nvarchar](2500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAutor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autores] ON
INSERT [dbo].[Autores] ([IDAutor], [Nome], [PaisOrigem], [PremioNobel], [ResumoObra]) VALUES (1, N'Luís de Camões', N'Portugal', 0, N'Poeta português (1524-1580), autor do famoso poema épico "Os Lusíadas" e de uma considerável obra lírica e dramática.')
INSERT [dbo].[Autores] ([IDAutor], [Nome], [PaisOrigem], [PremioNobel], [ResumoObra]) VALUES (2, N'Miguel de Cervantes', N'Espanha', 0, N'Romancista, dramaturgo e poeta espanhol. Foi o criador de "D. Quixote" (1605) e é considerado uma das figuras mais importantes da literatura espanhola. Nasceu em 1547, em Alcalá de Henares, Espanha, e morreu em 1616, em Madrid. Depois de ter estudado em Madrid, Cervantes partiu para a Itália e tornou-se soldado.')
INSERT [dbo].[Autores] ([IDAutor], [Nome], [PaisOrigem], [PremioNobel], [ResumoObra]) VALUES (3, N'Roberto Bolaño', N'Chile', 0, N'Roberto Bolaño nasceu em 1953, em Santiago do Chile, filho de pai camionista e de mãe professora. A sua infância foi vivida em várias cidades chilenas (Valparaíso, Quilpué, Viña del Mar ou Cauquenes) e a passagem pela escola atormentada pela dislexia. Aos quinze anos a família mudou-se para a Cidade do México. ')
SET IDENTITY_INSERT [dbo].[Autores] OFF
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/22/2014 14:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[NIF] [nvarchar](9) NOT NULL,
	[Nome] [nvarchar](1000) NOT NULL,
	[Morada] [nvarchar](1000) NOT NULL,
	[CodigoPostal] [nchar](8) NOT NULL,
	[Localidade] [nvarchar](1000) NOT NULL,
	[Telefone] [nvarchar](16) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Clientes__9B8553FC173876EA] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Clientes__C7DEC3301A14E395] UNIQUE NONCLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([NIF], [Nome], [Morada], [CodigoPostal], [Localidade], [Telefone], [Email], [Codigo]) VALUES (N'145147852', N'Rita Alves', N'Largo das Flores, 4', N'1654-567', N'Odivelas', N'212763120', N'rita_alves@email.com', N'4')
INSERT [dbo].[Clientes] ([NIF], [Nome], [Morada], [CodigoPostal], [Localidade], [Telefone], [Email], [Codigo]) VALUES (N'145874122', N'Filipa Ferraz', N'Rua Cidade de Paris, 65', N'1876-110', N'Sintra', N'2134565435', N'filipa_ferraz@email.com', N'8')
INSERT [dbo].[Clientes] ([NIF], [Nome], [Morada], [CodigoPostal], [Localidade], [Telefone], [Email], [Codigo]) VALUES (N'200547851', N'Cristina Campos', N'Rua Fernando Pessoa, 122, 4º Esq.', N'1280-570', N'Lisboa', N'212552663', N'cristina_campos@gmail.com', N'14')
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/22/2014 14:11:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IDCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [nvarchar](1000) NOT NULL,
	[Descricao] [nvarchar](2500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON
INSERT [dbo].[Categorias] ([IDCategoria], [Categoria], [Descricao]) VALUES (1, N'História', NULL)
INSERT [dbo].[Categorias] ([IDCategoria], [Categoria], [Descricao]) VALUES (2, N'Literatura', NULL)
INSERT [dbo].[Categorias] ([IDCategoria], [Categoria], [Descricao]) VALUES (3, N'Poesia', NULL)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
/****** Object:  StoredProcedure [dbo].[SP_Categorias_Update]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_Update]
	@IDCategoria	INT,
	@Categoria		NVARCHAR(1000),
	@Descricao		NVARCHAR(2500)
AS
BEGIN
	UPDATE		Categorias
	SET			Categoria = @Categoria, Descricao = @Descricao
	WHERE		IDCategoria = @IDCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Categorias_Select]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_Select]
AS
BEGIN
	SELECT		IDCategoria, Categoria, Descricao 
	FROM		Categorias
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Categorias_Insert]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_Insert]
	@Categoria		NVARCHAR(1000),
	@Descricao		NVARCHAR(2500)
AS
BEGIN
	INSERT INTO		Categorias(Categoria, Descricao)
	VALUES			(@Categoria, @Descricao)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Categorias_Delete]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Categorias_Delete]
	@IDCategoria	INT
AS
BEGIN
	DELETE		FROM Categorias
	WHERE		IDCategoria = @IDCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Autores_Update]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Autores_Update]
	@IDAutor		INT,
	@Nome			NVARCHAR(1000),
	@PaisOrigem		NVARCHAR(1000),
	@PremioNobel	BIT,
	@ResumoObra		NVARCHAR(2500)
AS
BEGIN
	Update	Autores set Nome = @Nome, PaisOrigem = @PaisOrigem,
						PremioNobel = @PremioNobel,
						ResumoObra = @ResumoObra
	WHERE	IDAutor = @IDAutor
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Autores_Select_By_PremioNobel]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Autores_Select_By_PremioNobel]
	@PremioNobel		Bit
AS
BEGIN
	SELECT		IDAutor, Nome, PaisOrigem, PremioNobel, ResumoObra
	FROM		Autores
	WHERE		PremioNobel = @PremioNobel
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Autores_Select_By_Nome]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Autores_Select_By_Nome]
	@Nome		NVARCHAR(1000)
AS
BEGIN
	SELECT		IDAutor, Nome, PaisOrigem, PremioNobel, ResumoObra
	FROM		Autores
	WHERE		Nome LIKE '%' + @Nome + '%' 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Autores_Select_By_IDAutor]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Autores_Select_By_IDAutor]
	@IDAutor	INT
AS
BEGIN
	SELECT		IDAutor, Nome, PaisOrigem, PremioNobel, ResumoObra
	FROM		Autores
	WHERE		IDAutor = @IDAutor
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Autores_Select]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Autores_Select]
AS
BEGIN
	SELECT		IDAutor, Nome, PaisOrigem, PremioNobel, ResumoObra
	FROM		Autores
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Autores_Insert]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Autores_Insert]
	@Nome			NVARCHAR(1000),
	@PaisOrigem		NVARCHAR(1000),
	@PremioNobel	BIT,
	@ResumoObra		NVARCHAR(2500)
AS
BEGIN
	INSERT INTO Autores(Nome, PaisOrigem, PremioNobel, ResumoObra)
	VALUES		(@Nome, @PaisOrigem, @PremioNobel, @ResumoObra)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Autores_Delete]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Autores_Delete]
	@IDAutor		INT
AS
BEGIN
	DELETE FROM 	Autores 
	WHERE			IDAutor = @IDAutor
END
GO
/****** Object:  Table [dbo].[Livros]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livros](
	[IDLivro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](1000) NOT NULL,
	[ISBN] [nvarchar](20) NOT NULL,
	[Categoria] [int] NULL,
	[AnoLancamento] [int] NULL,
	[Preco] [money] NULL,
	[QuantidadeStock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLivro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Livros] ON
INSERT [dbo].[Livros] ([IDLivro], [Titulo], [ISBN], [Categoria], [AnoLancamento], [Preco], [QuantidadeStock]) VALUES (1, N'Contos de Outros Tempos', N'123456', 2, 2010, 10.0000, 50)
INSERT [dbo].[Livros] ([IDLivro], [Titulo], [ISBN], [Categoria], [AnoLancamento], [Preco], [QuantidadeStock]) VALUES (2, N'História de Portugal - Volume I', N'654321', 1, 2012, 12.0000, 60)
INSERT [dbo].[Livros] ([IDLivro], [Titulo], [ISBN], [Categoria], [AnoLancamento], [Preco], [QuantidadeStock]) VALUES (3, N'História de Portugal - Volume II', N'125416', 1, 2008, 12.5000, 32)
SET IDENTITY_INSERT [dbo].[Livros] OFF
/****** Object:  Table [dbo].[Encomendas]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encomendas](
	[IDEncomenda] [int] IDENTITY(1,1) NOT NULL,
	[Data] [nchar](10) NULL,
	[NIFCliente] [nvarchar](9) NULL,
 CONSTRAINT [PK_Encomendas] PRIMARY KEY CLUSTERED 
(
	[IDEncomenda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Encomendas] ON
INSERT [dbo].[Encomendas] ([IDEncomenda], [Data], [NIFCliente]) VALUES (11, N'2011-06-11', N'200547851')
INSERT [dbo].[Encomendas] ([IDEncomenda], [Data], [NIFCliente]) VALUES (12, N'2011-12-14', N'201365478')
INSERT [dbo].[Encomendas] ([IDEncomenda], [Data], [NIFCliente]) VALUES (13, N'2011-12-16', N'213654789')
SET IDENTITY_INSERT [dbo].[Encomendas] OFF
/****** Object:  Table [dbo].[EncomendaLivros]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncomendaLivros](
	[IDEncomendaLivro] [int] IDENTITY(1,1) NOT NULL,
	[Encomenda] [int] NULL,
	[Livro] [int] NULL,
	[Quantidade] [int] NULL,
 CONSTRAINT [PK_EncomendaLivros] PRIMARY KEY CLUSTERED 
(
	[IDEncomendaLivro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EncomendaLivros] ON
INSERT [dbo].[EncomendaLivros] ([IDEncomendaLivro], [Encomenda], [Livro], [Quantidade]) VALUES (1, 11, 1, 6)
INSERT [dbo].[EncomendaLivros] ([IDEncomendaLivro], [Encomenda], [Livro], [Quantidade]) VALUES (2, 11, 2, 5)
INSERT [dbo].[EncomendaLivros] ([IDEncomendaLivro], [Encomenda], [Livro], [Quantidade]) VALUES (3, 11, 3, 4)
SET IDENTITY_INSERT [dbo].[EncomendaLivros] OFF
/****** Object:  Table [dbo].[AutoresLivros]    Script Date: 10/22/2014 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoresLivros](
	[IDAutorLivro] [int] IDENTITY(1,1) NOT NULL,
	[Autor] [int] NULL,
	[Livro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAutorLivro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AutoresLivros] ON
INSERT [dbo].[AutoresLivros] ([IDAutorLivro], [Autor], [Livro]) VALUES (1, 1, 1)
INSERT [dbo].[AutoresLivros] ([IDAutorLivro], [Autor], [Livro]) VALUES (2, 2, 1)
INSERT [dbo].[AutoresLivros] ([IDAutorLivro], [Autor], [Livro]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[AutoresLivros] OFF
/****** Object:  Default [DF__Autores__PremioN__1367E606]    Script Date: 10/22/2014 14:11:38 ******/
ALTER TABLE [dbo].[Autores] ADD  DEFAULT ((0)) FOR [PremioNobel]
GO
/****** Object:  ForeignKey [FK_Livros_Categorias]    Script Date: 10/22/2014 14:11:46 ******/
ALTER TABLE [dbo].[Livros]  WITH CHECK ADD  CONSTRAINT [FK_Livros_Categorias] FOREIGN KEY([Categoria])
REFERENCES [dbo].[Categorias] ([IDCategoria])
GO
ALTER TABLE [dbo].[Livros] CHECK CONSTRAINT [FK_Livros_Categorias]
GO
/****** Object:  ForeignKey [FK_Encomendas_Clientes]    Script Date: 10/22/2014 14:11:46 ******/
ALTER TABLE [dbo].[Encomendas]  WITH CHECK ADD  CONSTRAINT [FK_Encomendas_Clientes] FOREIGN KEY([NIFCliente])
REFERENCES [dbo].[Clientes] ([NIF])
GO
ALTER TABLE [dbo].[Encomendas] CHECK CONSTRAINT [FK_Encomendas_Clientes]
GO
/****** Object:  ForeignKey [FK_EncomendaLivros_Encomendas]    Script Date: 10/22/2014 14:11:46 ******/
ALTER TABLE [dbo].[EncomendaLivros]  WITH CHECK ADD  CONSTRAINT [FK_EncomendaLivros_Encomendas] FOREIGN KEY([Encomenda])
REFERENCES [dbo].[Encomendas] ([IDEncomenda])
GO
ALTER TABLE [dbo].[EncomendaLivros] CHECK CONSTRAINT [FK_EncomendaLivros_Encomendas]
GO
/****** Object:  ForeignKey [FK_EncomendaLivros_Livros]    Script Date: 10/22/2014 14:11:46 ******/
ALTER TABLE [dbo].[EncomendaLivros]  WITH CHECK ADD  CONSTRAINT [FK_EncomendaLivros_Livros] FOREIGN KEY([Livro])
REFERENCES [dbo].[Livros] ([IDLivro])
GO
ALTER TABLE [dbo].[EncomendaLivros] CHECK CONSTRAINT [FK_EncomendaLivros_Livros]
GO
/****** Object:  ForeignKey [ChaveExterna_AutorLivro]    Script Date: 10/22/2014 14:11:46 ******/
ALTER TABLE [dbo].[AutoresLivros]  WITH CHECK ADD  CONSTRAINT [ChaveExterna_AutorLivro] FOREIGN KEY([Autor])
REFERENCES [dbo].[Autores] ([IDAutor])
GO
ALTER TABLE [dbo].[AutoresLivros] CHECK CONSTRAINT [ChaveExterna_AutorLivro]
GO
/****** Object:  ForeignKey [FK_AutoresLivros_Livros]    Script Date: 10/22/2014 14:11:46 ******/
ALTER TABLE [dbo].[AutoresLivros]  WITH CHECK ADD  CONSTRAINT [FK_AutoresLivros_Livros] FOREIGN KEY([Livro])
REFERENCES [dbo].[Livros] ([IDLivro])
GO
ALTER TABLE [dbo].[AutoresLivros] CHECK CONSTRAINT [FK_AutoresLivros_Livros]
GO
